@{
    ViewData["Title"] = "Admin Dashboard";
}
<h1>Admin Dashboard</h1>
    <p>Only admins should see this page.</p>
    <ul>
    <li><a asp-area="Admin" asp-controller="Dashboard" asp-action="Index">Refresh</a></li>
    <li>(Later) Manage Clubs</li>
    <li>(Later) Manage Events</li>
    <li>(Later) Manage News</li>
    </ul> 