@model AubgEMS.Core.Models.News.NewsEditDto
@{
    ViewData["Title"] = "Edit News";
}
<h1>Edit News</h1>

<form method="post">
    <partial name="_Form" model="Model" />
    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-area="Admin" asp-controller="News" asp-action="Index" class="btn btn-secondary">Back</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}